#
# lispers.net lisp.config file, last changed: Thu Jun 17 00:00:11 UTC 2021
#
# Hostname: ip-172-31-33-179
#
# (1) Only commands between the first pair of dotted lines will be processed. 
#
# (2) Any lines you find prepended with "#>>>" are errors found during command 
#     processing.
#
# (3) You may comment out lines by placing a "#" in the first column of any 
#     line between the section between the first pair of dotted lines.
#
# (4) Note the hostname and modification timestamp above are auto generated
#     after you have saved this file and it has been processed.
#
# (5) Deleting configuration can be achieved by deleting lines and restarting
#     the LISP component or by use of the LISP API.
#
# (6) The landing web page on any device provides detailed Command and API
#     documentation. Just click on those buttons.
#
# (7) Any name references must follow their definitions. Examples are 
#     elp-names and rle-names when referred to in static map-cache entries.
#
# DO NOT REMOVE THE LINES "#--- ... ---" and "#--- ... ---#".    
#
#-----------------------------------------------------------------------------
lisp enable {
    itr = no
    etr = no
    rtr = yes
    map-server = yes
    map-resolver = yes
    ddt-node = no
}
lisp debug {
    core = no
    itr = no
    etr = no
    rtr = yes
    map-server = yes
    map-resolver = yes
    ddt-node = no
}
lisp user-account {
    username = root
    password = =b344788196c4c1d26a5f224098551bb5af2b8017
    super-user = yes
}
lisp xtr-parameters {
    rloc-probing = yes
    nat-traversal = no
    data-plane-security = no
    nonce-echoing = no
    checkpoint-map-cache = no
    ipc-data-plane = no
    decentralized-push-xtr = no
    register-reachable-rtrs = no
    frame-logging = no
    flow-logging = no
    data-plane-logging = yes
}
lisp rtr-list {
    address = 34.223.241.159
    address = 172.31.33.163
}
lisp site {
    site-name = isem
    authentication-key = MariaExpropiacion@@30
    allowed-prefix {
        instance-id = 100
        eid-prefix = 240.0.0.0/8
        accept-more-specifics = yes
        force-proxy-reply = yes
        force-nat-proxy-reply = yes
        proxy-reply-action = not-registered-yet
    }
}
lisp map-resolver {
    dns-name = localhost
}
lisp json {
    json-name = telemetry
    json-string = {"type":"telemetry","sub-type":"timestamps","itr-out":"?","etr-in":"?","etr-out":"?","itr-in":"?" }
}
#-----------------------------------------------------------------------------#