#-----------------------------------------------------------------------------
lisp enable {
    itr = yes
    etr = yes
    rtr = no
    map-server = no
    map-resolver = no
    ddt-node = no
}
lisp debug {
    core = no
    itr = yes
    etr = yes
    rtr = no
    map-server = no
    map-resolver = no
    ddt-node = no
}
lisp user-account {
    username = jrios
    password = =69ae26e10635ced061e049bc02de38fc932547af
    super-user = yes
}
lisp user-account {
    username = root
    password = =69ae26e10635ced061e049bc02de38fc932547af
    super-user = yes
}
lisp xtr-parameters {
    rloc-probing = yes
    nat-traversal = yes
    data-plane-security = no
    nonce-echoing = no
    checkpoint-map-cache = no
    ipc-data-plane = no
    decentralized-push-xtr = no
    register-reachable-rtrs = no
    frame-logging = no
    flow-logging = no
    data-plane-logging = yes
}
lisp map-resolver {
     dns-name = ec2-34-223-241-159.us-west-2.compute.amazonaws.com
}
lisp map-server {
     dns-name = ec2-34-223-241-159.us-west-2.compute.amazonaws.com
     authentication-key = MariaExpropiacion@@30
}
lisp database-mapping {
    prefix {
        instance-id = 100
        eid-prefix = 'eid-3'
    }
    prefix {
        instance-id = 100
        eid-prefix = 240.3.3.3/32
    }
    rloc {
        interface = eth0
    }
}
#-----------------------------------------------------------------------------#